* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #001e4d;
}

.app {
  background: #fff;
  max-width: 600px;
  margin: 100px auto;
  padding: 30px;
  border-radius: 10px;
}

.app h1 {
  color: #001e4d;
  font-size: 25px;
  font-weight: 600;
  border-bottom: 1.5px solid #333;
  padding-bottom: 30px;
}

.quiz h2 {
  font-size: 18px;
  color: #001e4d;
  font-weight: 600;
  margin-bottom: 20px;
}

.btn {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  text-align: left;
  border: 1px solid #222;
  border-radius: 4px;
  background: #fff;
  color: #222;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover:not([disabled]) {
  background: #222;
  color: #fff;
}

.btn:disabled {
  cursor: not-allowed;
}

.correct {
  background: green !important;
  color: white !important;
  font-weight: bold;
}

.wrong {
  background: red !important;
  color: white !important;
  font-weight: bold;
}

#next-button {
  display: none;
  width: 150px;
  padding: 10px;
  margin: 20px auto 0;
  border: none;
  border-radius: 4px;
  background: #001e4d;
  color: white;
  font-weight: 600;
  cursor: pointer;
}
